<% 
	eol = "\r\n" 
	local csc = premake.csc
%>	
<VisualStudioProject>
	<CSHARP>
		<Build>
			<Settings ReferencePath = "<%= table.concat(table.translate(this.libdirs, function(v) return path.translate(path.getabsolute(this.location.."/"..v),"\\") end), ";") %>">
			<% for cfg in premake.eachconfig(this) do %>
				<Config
					Name = "<%= premake.esc(cfg.name) %>"
					EnableASPDebugging = "false"
					EnableASPXDebugging = "false"
					EnableUnmanagedDebugging = "false"
					EnableSQLServerDebugging = "false"
					RemoteDebugEnabled = "false"
					RemoteDebugMachine = ""
					StartAction = "Project"
					StartArguments = ""
					StartPage = ""
					StartProgram = ""
					StartURL = ""
					StartWorkingDirectory = ""
					StartWithIE = "false"
				/>
			<% end %>
			</Settings>
		</Build>
		<OtherProjectSettings
			CopyProjectDestinationFolder = ""
			CopyProjectUncPath = ""
			CopyProjectOption = "0"
			ProjectView = "ProjectFiles"
			ProjectTrust = "0"
		/>
	</CSHARP>
</VisualStudioProject>
