<% eol = "\r\n" %>
Microsoft Visual Studio Solution File, Format Version 8.00
<% for prj in premake.eachproject(this) do %>
Project("{<%=_VS.tool(prj)%>}") = "<%=prj.name%>", "<%=path.translate(path.getrelative(this.location, _VS.projectfile(prj)))%>", "{<%=prj.uuid%>}"
 <% for _,dep in ipairs(premake.getdependencies(prj)) do %>
	{<%= dep.uuid %>} = {<%= dep.uuid %>}
 <% end %>
EndProject
<% end %>
Global
	GlobalSection(SolutionConfiguration) = preSolution
	<% for i,cfgname in ipairs(this.configurations) do %>
		<%= cfgname %> = <%= cfgname %>
	<% end %>		
	EndGlobalSection
	GlobalSection(ProjectDependencies) = postSolution
	EndGlobalSection
	GlobalSection(ProjectConfiguration) = postSolution
	<% for prj in premake.eachproject(this) do %>
	 <% for i,cfgname in ipairs(this.configurations) do %>
		{<%=prj.uuid%>}.<%=cfgname%>.ActiveCfg = <%=cfgname%>|<%=_VS.arch(prj, 2002)%>
		{<%=prj.uuid%>}.<%=cfgname%>.Build.0 = <%=cfgname%>|<%=_VS.arch(prj, 2002)%>
	 <% end %>
	<% end %>
	EndGlobalSection
	GlobalSection(ExtensibilityGlobals) = postSolution
	EndGlobalSection
	GlobalSection(ExtensibilityAddIns) = postSolution
	EndGlobalSection
EndGlobal
