<% eol = "\r\n" %>
Microsoft Visual Studio Solution File, Format Version 7.00
<% for prj in premake.eachproject(this) do %>
Project("{<%=_VS.tool(prj)%>}") = "<%=prj.name%>", "<%=path.translate(path.getrelative(this.location, _VS.projectfile(prj)))%>", "{<%=prj.uuid%>}"
EndProject
<% end %>
Global
	GlobalSection(SolutionConfiguration) = preSolution
	<% for i,cfgname in ipairs(this.configurations) do %>
		ConfigName.<%= i-1 %> = <%= cfgname %>
	<% end %>		
	EndGlobalSection
	GlobalSection(ProjectDependencies) = postSolution
	<% for prj in premake.eachproject(this) do %>
	 <% for i,dep in ipairs(premake.getdependencies(prj)) do %>
		{<%= prj.uuid %>}.<%= i - 1 %> = {<%= dep.uuid %>}
	 <% end %>
	<% end %>
	EndGlobalSection
	GlobalSection(ProjectDependencies) = postSolution
	EndGlobalSection
	GlobalSection(ProjectConfiguration) = postSolution
	<% for prj in premake.eachproject(this) do %>
	 <% for i,cfgname in ipairs(this.configurations) do %>
		{<%=prj.uuid%>}.<%=cfgname%>.ActiveCfg = <%=cfgname%>|<%=_VS.arch(prj)%>
		{<%=prj.uuid%>}.<%=cfgname%>.Build.0 = <%=cfgname%>|<%=_VS.arch(prj)%>
	 <% end %>
	<% end %>
	EndGlobalSection
	GlobalSection(ExtensibilityGlobals) = postSolution
	EndGlobalSection
	GlobalSection(ExtensibilityAddIns) = postSolution
	EndGlobalSection
EndGlobal
