root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Yaml does not accept indentation by tab, so use space for indentation
[*.yml]
indent_style = space
indent_size = 2

# External files are not formatted.
[{**/pepperfish_profiler.lua,mobdebug.lua,/binmodules/**,/contrib/**}]
indent_style = unset
indent_size = unset
tab_width = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
