syntax: glob

.DS_Store

*.bak
*.orig
*~

build
bin
modules
obj
release
ipch
src/host/scripts.c
**.lnt
**.vlstatus

Makefile
*.make
*.xcodeproj
*.swp
*.sdf
*.sln
*.suo
*.ncb
*.vcproj*
*.vcxproj*
*.opensdf
*.workspace
*.project
*.tags
*.sublime-*
.cproject
.settings
.buildpath

*.bbprojectsettings
Scratchpad.txt
Unix Worksheet.worksheet
project.bbprojectdata
Premake4.tmproj
