[submodule "modules/xcode"]
	path = modules/xcode
	url = https://github.com/premake/premake-xcode.git
[submodule "modules/monodevelop"]
	path = modules/monodevelop
	url = https://github.com/premake/premake-monodevelop.git
[submodule "modules/codelite"]
	path = modules/codelite
	url = https://github.com/premake/premake-codelite.git
[submodule "modules/d"]
	path = modules/d
	url = https://github.com/premake/premake-dlang.git
[submodule "modules/raw"]
	path = modules/raw
	url = https://github.com/premake/premake-raw.git
