syntax: glob

.DS_Store

*.bak
*.orig
*~

build
bin
obj
release
ipch
src/scripts.c
**.lnt
**.vlstatus

Makefile
*.make
*.xcodeproj
*.xcworkspace
*.swp
*.sdf
*.sln
*.slnx
*.suo
*.ncb
*.vcproj*
*.vcxproj*
*.VC.opendb
*.VC.db
*.opensdf
*.workspace
*.project
*.tags
*.sublime-*
.cproject
.settings
.buildpath
*.vs
*.ninja
*.ninja_deps
*.ninja_log
.vscode/

*.bbprojectsettings
Scratchpad.txt
Unix Worksheet.worksheet
project.bbprojectdata
Premake4.tmproj
