syntax: glob

.DS_Store

*.bak
*.orig
*~

build
bin
obj
release
ipch
**.lnt
**.vlstatus

Makefile
*.make
*.xcodeproj
*.xcworkspace
*.swp
*.sdf
*.sln
*.suo
*.ncb
*.vcproj*
*.vcxproj*
*.VC.opendb
*.VC.db
*.opensdf
*.workspace
*.project
*.tags
*.sublime-*
.cproject
.settings
.buildpath

*.bbprojectsettings
Unix Worksheet.worksheet
project.bbprojectdata
.vs
.vscode
