/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2b86cc;
  --ifm-color-primary-dark: #2779b8;
  --ifm-color-primary-darker: #2572ad;
  --ifm-color-primary-darkest: #1e5e8f;
  --ifm-color-primary-light: #3a92d6;
  --ifm-color-primary-lighter: #4498d8;
  --ifm-color-primary-lightest: #63a9de;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
