<?xml version="1.0" encoding="utf-8"?>
<CodeLite_Workspace Name="<%= premake.esc(this.name) %>" Database="./<%= premake.esc(this.name) %>.tags">
<% for i,prj in ipairs(this.projects) do %>
  <Project Name="<%= premake.esc(prj.name) %>" Path="<%= path.join(path.getrelative(this.location, prj.location), prj.name) %>.project" Active="<%= iif(i==1, "Yes", "No") %>" />
<% end %>
  <BuildMatrix>
  <% for _, cfgname in ipairs(this.configurations) do %>
    <WorkspaceConfiguration Name="<%= cfgname %>" Selected="yes">
    <% for _,prj in ipairs(this.projects) do %>
      <Project Name="<%= prj.name %>" ConfigName="<%= cfgname %>"/>
    <% end %>
    </WorkspaceConfiguration>
  <% end %>
  </BuildMatrix>
</CodeLite_Workspace>
