curl-*/**/.deps
curl-*/**/.libs
curl-*/**/.dirstamp
curl-*/**/*.o
curl-*/**/*.lo
curl-*/**/*.la
curl-*/src/curl
curl-*/src/tool_hugehelp.c
curl-*/packages/**/*.spec
curl-*/packages/EPM/curl.list
curl-*/include/curl/stamp-h2
curl-*/include/curl/curlbuild.h
curl-*/config.log
curl-*/config.status
curl-*/curl-config
curl-*/lib/curl_config.h
curl-*/lib/libcurl.vers
curl-*/lib/stamp-h1
curl-*/libcurl.pc
curl-*/libtool
curl-*/tests/configurehelp.pm

